AIRTABLE_PAT=your_personal_access_token
AIRTABLE_BASE_ID=appROfnaaI8ZuCTBV
CONVERTKIT_API_KEY=your_api_key
CONVERTKIT_NOTIFY_FORM_ID=your_coming_soon_form_id
NEXT_PUBLIC_SITE_URL=https://retreatfounder.com
